<div class="jumbotron">
  <center>
    <h1>Poblemos la tabla productos de Persona</h1>
    <img src="file:///home/tac/Documents/pasakes/persona5.jpg" alt="launchpad's pizza">
    <br>
    <%= link_to "Check out our Pizzas", products_path, class: "btn btn-default" %>
  </center>  
</div>